:root {
  --main-bg-color: #000000;
  --second-bg-color: #6a6a6a;
  --active-bg-color: #e5dede;
  --main-shadow-color: #a1f2ae;
  --active-shadow-color: #4d44a0;
  --main-txt-color:#a5a5a5 ;
  --second-txt-color: #ffffff;
  --active-txt-color: green;
  --letter-size: 1.3rem;
  --text-size: 1.3rem;
}

.body {
  margin: auto;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  gap: 10px;
}

.keyboard {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;    
} 

.keyboard__alternative{
  position: absolute;
  display: inline-flex;
  pointer-events: none;
  margin: auto;
  top: 0px;  
}

.keyboard__text-area {
  display: block;   
  margin-top: 20px;
  margin: auto;
  font-size: var(--letter-size);  
}

.keyboard__help-text{
  margin: auto;
  margin-top: 30px;
  font-size: var(--letter-size);
}

.keyboard__row {
  display: inline-flex;
  background-color: var(--second-bg-color); 
}

.keyboard__button {
  color: var(--main-txt-color);
  margin: 5px;
  min-width: 50px;
  height: 50px;
  background-color: var(--main-bg-color);    
  display: flex;
  cursor: pointer;
  box-shadow: 2px 2px 2px var(--main-shadow-color);
}

.keyboard__button-alt{
  color: var(--main-txt-color);
  margin: 5px;
  min-width: 50px;
  pointer-events: none;  
}

.keyboard__letter {
  margin: auto; 
  align-self: center; 
  font-size: var(--letter-size);
  position: relative;  
}

.keyboard__button-alt-one{
  position: absolute;
  color: var(--main-txt-color);
  left: 790px;
  top: 65px;    
}

.keyboard__space_button {
  min-width: 410px;
}

.keyboard__backspace_button,
.keyboard__caps-lock_button {
  min-width: 110.5px;
}

.keyboard__shift_button {
  min-width: 110px;
}

.keyboard__enter_button {
  min-width: 110px;
}

.keyboard__tab_button {
  min-width: 50.5px;
}

.keyboard__button:hover{
  color: var(--second-txt-color);
  transition: all .3s;
  box-shadow: 2px 2px 2px var(--active-shadow-color);    
}

.keyboard__button-letter_active:hover{
  color: var(--active-txt-color);
  transition: all .3s;
  box-shadow: 2px 2px 2px var(--active-shadow-color);    
}

.keyboard__button_active {
  background-color: var(--active-bg-color);
  box-shadow: 2px 2px 2px var(--active-shadow-color);
  color: var(--main-bg-color);  
  transition: all .3s;  
}

.keyboard__button_active:hover {
  background-color: var(--active-bg-color);
  box-shadow: 2px 2px 2px var(--active-shadow-color);
  color: var(--main-bg-color);
}

.keyboard__button-letter_active {
  color: var(--active-txt-color);
}